*.o
*.a
*.la
*.lo
*.d
*.hi
tags

dox/html
dox/latex
static/stats*.html
static/awstats
conf/nginx.conf
lib/eqbeats.pc

*.log
*.sw?
*~
pid
/tmp/
/tracks/
/art/
/udpstat/
.udpstat.salt
reports
hits.dat
hitsd.sock
feature.queue

src/eqbeats.fcgi
/tools/*

.deps
aclocal.m4
autom4te.cache
config.h.in
depcomp
install-sh
missing
configure
Makefile
Makefile.in
config.guess
config.h
config.status
config.sub
libtool
ltmain.sh
stamp-h1
compile
.libs

src/tools/clint
src/tools/dumptracks
src/tools/fqueue
src/tools/mkthumbs
src/tools/multiplex
src/tools/udpstat
src/tools/updatetags

.git

fig.yml
