*.o
*.d
*.hi

dox/html
dox/latex
static/stats*.html
static/awstats

*.log
*.sw?
pid
/tmp/
/tracks/
/art/
/udpstat/
.udpstat.salt
reports
hits.dat
hitsd.sock
feature.queue

eqbeats.fcgi
/tools/*

*.in
.deps
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
configure
