CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile

dox/html
dox/latex
static/stats*.html
static/awstats

*.log
*.sw?
pid
/tmp/
/tracks/
/art/
reports
hits.dat
hitsd.sock
feature.queue

eqbeats.fcgi
/tools/CMakeFiles
/tools/cmake_install.cmake
/tools/Makefile
/tools/dumptracks
/tools/mkcontest
/tools/mknews
/tools/mkthumbs
/tools/stats
/tools/updatetags
/tools/fqueue
