@import url("player.css");

html, body {
    background-color: #F2F2F2;
}

/** Header ********************************************************************/

#main {
    max-width: 1000px;
    margin: auto;
}

#header {
    margin: 0 auto;
    color: #203;
}

#header h1 {
    margin: 0;
    padding: 25px 20px 0;
    font-size: 2.2em;
    font-weight: 100;
}
#header h1 a {
    display: block;
    text-decoration: none;
    padding: 20px 0 20px 160px;
    background: url("/static/logo.png") no-repeat left center;
}

.feed {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url("/static/feed.png") center left;
}
.feed span { display: none; }
.feed:hover { background-position: center right; }

/** Navigation bar ************************************************************/

#navbar {
    padding: 0;
    margin: 0;
}
#navbar a, #navbar img {
    float: left;
    display: block;
    padding: 10px;
    margin: 0;
}
#navbar a:hover {
    text-decoration: none;
}
#navbar img {
    padding-top: 13px;
}

#logstatus {
    float: right;
    padding: 10px 20px;
}

/******************************************************************************/

#contents {
    padding: 25px 40px 20px;
    background-color: #FFF;
    margin: 0 auto;
    box-shadow: 0px 0px 1px #888;
    /* word-wrap: break-word; aparemment ça n'est pas dans les docs w3 */
}

#footer {
    font-size: 0.7em;
    color: #999;
    margin-top: 0;
    padding: 17px;
    text-align: center;
    background: url("silhouette.png") no-repeat 98% center;
    text-shadow: 0 1px white;
}

#footer a { color: #777; }
#footer a:hover { color: #444; }

/** Generic *******************************************************************/

p {
    margin: 15px;
    text-indent: 15px;
}

#contents h3 {
    border-radius: 5px;
    padding: 10px 12px;
    border: 1px solid #eee;
    background: url("/static/title-grad.png") repeat-x bottom #fbfbfb;
}

#contents h3 img, #contents h4 img {
    float: left;
    display: block;
    margin-right: 7px;
}

.legend {
    color: #444;
    font-size: 0.8em;
}
div.legend {
    float: right;
    margin: 6px;
}

/** Track page ****************************************************************/

.toolbar {
    margin: 10px 0 0;
    line-height: 2em;
}

.toolbar img {
    margin: 0 5px 0 20px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.toolbar span {
    white-space: nowrap;
}

.tags a, .toolbar a, .report {
    padding: 2px 0;
    margin: 0 5px;
}

.toolbar form {
    display: inline;
    margin: 0;
    padding: 0;
}

.report {
    border: none;
    background: none;
    margin-left: 20px;
}

.report span { 
    visibility: hidden; 
    margin-left: 5px;
}

.report:hover { cursor: pointer; }
.report:hover span { visibility: visible; }
.report img { margin: 0; }

.notes, .news {
    line-height: 1.7em;
    font-size: 0.9em;
}

.notes {
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 15px 20px;
}
.track .notes {
    margin: 15px 20px 0;
}

.description {
    margin: 0 10px;
}
.description ul li {
    color: #000;
}
.description p {
    margin: 5px;
}
.description div {
    margin: 25px 0px;
}
.description ul {
    margin: 5px 10px;
}

a.danger {
    color: #A00;
    margin: 20px 0;
}

.empty {
    margin: 20px;
    text-align: center;
    color: #444;
}

.comment {
    margin: 10px;
    padding: 15px 20px;
    border-radius: 3px;
    border: solid #eee;
    border-width: 0px 0 1px 1px;
    line-height: 1.6em;
    font-size: 0.9em;
}
.postcomment {
    text-align: center;
}
.postcomment h3 {
    margin: 15px;
}

.comment .by {
    margin-top: 8px;
    font-size: 0.9em;
    color: #000;
}

.track .art {
    display: block;
    max-width: 80%;
    max-height: 480px;
    margin: 25px auto;
    padding: 5px;
    border: 1px solid #ddd;
}

.tags form {
    display: inline;
    margin: 0;
}

.track h4 {
    margin: 10px;
}

/** User page *****************************************************************/

.user {
    margin: 20px 0;
}

.user .item {
    margin: 2px 15px 15px;
}
.user .item img {
    vertical-align: middle;
    padding-bottom: 4px;
    margin-right: 4px;
}

.user .notes {
    margin: 0 0 15px;
}

/** FAQ page ******************************************************************/

.faq div {
    margin: 30px 10px 35px;
}

.faq div:last-child {
    margin-bottom: 0;
}

/** News page *****************************************************************/

.news h4 {
    margin: 10px 12px;
    color: #444;
}

.news-contents {
    margin: 20px 10px 25px;
}

.oldnews {
    margin-top: 30px;
}

a.more {
    display: inline-block;
    margin: 0 20px;
}
a.more:before {
    content: "» ";
}

/** Contests ******************************************************************/

.contest {
    margin-top: 15px;
}

.contest button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.contest button img {
    vertical-align: middle;
    margin-bottom: 6px;
}

/** Lists *********************************************************************/

li {
    margin: 0;
    list-style: square;
    padding: 8px 0;
    color: #406;
}
ul {
    margin: 10px 20px;
    padding: 0 20px;
}

/** Track list ****************************************************************/

.tracklist {
    margin: 10px 0;
}

.tracklist li {
    list-style-type: none;
}

.tracklist li {
    padding: 10px;
    margin: 0;
    display: block;
}

.tracklist li:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
}

.tracklist li .title, .tracklist li .by {
    display: block;
    line-height: 32px;
    font-weight: 100;
    height: 32px;
    overflow: hidden;
}
.tracklist li .title {
    font-size: 1.1em;
}

.tracklist li img {
    float: right;
    max-width: 128px;
}

/** Credits page **************************************************************/

.credits li {
    color: #000;
}

/** Forms *********************************************************************/

form {
    margin: 20px;
}
form input, textarea, select, .qq-upload-button {
    border: 1px solid #555;
    border-radius: 2px;
    padding: 4px;
    margin: 2px;
}
form input, select {
    vertical-align: middle;
    width: 250px;
}
input[type="checkbox"] {
    margin: 0 5px;
    padding: 0;
    width: auto;
}
form input[type="file"] {
    border: none;
}
form input[type="submit"], .qq-upload-button {
    width: auto;
    background-color: #F8F8FF;
    padding: 3px 7px;
}
form input[type="submit"]:hover, .qq-upload-button-hover {
    background-color: #F6F3FF;
}
select {
    background-color: #FFF;
    width: auto;
}
textarea {
    width: 400px;
    height: 200px;
}
#embedcode {
    height: 100px;
    margin: 10px 20px;
}

.edit {
    padding-bottom: 10px;
    margin: 30px 0;
    border-radius: 5px;
    border: 1px solid #eee;
}
.edit h4 {
    border-bottom: 1px solid #e0e0e0;
}
.edit h4 img {
    margin-top: 3px;
}
#contents .edit h3 {
    margin: 0;
    border: none;
    border-radius: 5px 5px 0 0;
}
.edit h4 {
    margin: 15px 0 0 0;
    padding: 5px;
}
.edit form {
    margin: 10px 10px;
}
.edit .column {
    float: left;
}
.edit .column, .edit .rename, .edit .publish {
    padding: 0 3%;
}
.edit .rename input[type="text"]{
    width: 400px;
    max-width: 50%;
}
.edit textarea {
    width: 350px;
    height: 220px;
}
.edit .publish {
    margin: 25px 0 0 0;
    font-weight: bold;
    color: #548;
    text-align: left;
}
.edit .publish img {
    float: left;
    margin: 2px 7px 0 5px;
}
.edit .publish input {
    color: #FFF;
    background: #307;
    border: none;
}
.edit .publish input:hover {
    background-color: #509;
}

/** Follow / Favorite / Delete buttons ****************************************/

.follow {
    font-size: 14px;
    padding: 3px 3px 3px 20px;
    margin-left: 5px;
    background: url("/static/plus.png") left center no-repeat;
}
.follow:hover{ 
    text-decoration: none;
    color: #555;
}
.follow.disabled { background-image: url("/static/plus-grey.png"); }
.follow span { visibility: hidden; }
.follow:hover span { visibility: visible; }

.delete {
    float: right;
    margin-right: 20px;
    background: url("/static/delete.png") no-repeat 7px center;
    padding-left: 37px;
    color: #b00;
    border-radius: 2px;
    padding: 7px 9px 7px 33px;
    clear: both;
}
.delete:hover {
    text-decoration: none;
    background-color: #d00;
    color: #fff;
}

/** Track grid ****************************************************************/

.leftcol, .rightcol {
    width: 48%;
}
.leftcol {
    float: left;
    clear: both;
}
.rightcol {
    float: right;
}

/** Messages ******************************************************************/

.message, .error {
    margin: 15px;
    font-weight: bold;
}
.error {
    color: #800;
}

/** Ticker ********************************************************************/

#newsticker, #nowplaying-widget {
    margin-top: 8px;
    margin-bottom: 30px;
    padding-left: 12px;
}

#newsticker {
    margin-left: 20px;
    margin-right: 20px;
    background: #fbffff;
    box-shadow: 0px 0px 1px #8aa;
    padding: 10px;
}

#newsticker img {
    display: block;
    float: left;
    margin: 1px 8px 0 0;
}

/** Search form (homepage) ****************************************************/

.search {
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    margin: 10px 0 5px;
}
.search img {
    vertical-align: middle;
    padding: 0 4px 3px;
}
.search form {
    display: inline;
    margin: 0;
}

/** Partners (homepage) *******************************************************/

.partner {
    display: block;
    margin: 20px;
}

/** File uploader *************************************************************/

.qq-uploader {
    position: relative;
    width: 90%;
    margin: 20px;
}

.qq-upload-button {
    display:block;
    width: 150px; 
    padding: 5px;
    text-align:center;
}

.qq-upload-drop-area {
    padding: 30px;
    margin: 10px 0;
    background-color: #408;
    color: #fff;
    text-align:center; 
    border-radius: 5px;
}
.qq-upload-drop-area-active { background-color:#80c; }

.qq-upload-list { margin:15px 35px; padding:0; list-style:disc; }
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

a.qq-upload-file, a.qq-upload-file:hover {
    text-decoration: none;
    color: #000;
}
.qq-upload-success a.qq-upload-file {
    color: #408;
    text-decoration: none;
}
.qq-upload-success a.qq-upload-file:hover {
    color: #80C;
    text-decoration: underline;
}
