@import url("player.css");

html, body {
    background-color: #F2F2F2;
}

/** Header ********************************************************************/

#main {
    max-width: 1000px;
    margin: auto;
}

#header {
    margin: 0 auto;
    color: #203;
}

#header h1 {
    margin: 0;
    padding: 25px 20px 0;
    font-size: 2.2em;
    font-weight: 100;
}
#header h1 a {
    display: block;
    text-decoration: none;
    padding: 20px 0 20px 160px;
    background: url("/static/logo.png") no-repeat left center;
}

.feed {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url("/static/feed.png") center left;
}
.feed span { display: none; }
.feed:hover { background-position: center right; }

/** Navigation bar ************************************************************/

#navbar {
    padding: 0;
    margin: 0;
}
#navbar a, #navbar img {
    float: left;
    display: block;
    padding: 10px;
    margin: 0;
}
#navbar a:hover {
    text-decoration: none;
}
#navbar img {
    padding-top: 13px;
}

#logstatus {
    float: right;
    padding: 10px 20px;
}

/******************************************************************************/

#contents {
    padding: 25px 40px 20px;
    background-color: #FFF;
    margin: 0 auto;
    box-shadow: 0 0 1px #888;
    word-wrap: break-word;
}

#footer {
    font-size: 0.7em;
    color: #999;
    margin-top: 0;
    padding: 17px;
    text-align: center;
    background: url("silhouette.png") no-repeat 98% center;
    text-shadow: 0 1px white;
}

#footer a { color: #777; }
#footer a:hover { color: #444; }

/** Generic *******************************************************************/

p {
    margin: 15px;
    text-indent: 15px;
}

#contents h3 {
    border-radius: 5px;
    padding: 10px 12px;
    border: 1px solid #eee;
    background: url("/static/title-grad.png") repeat-x bottom #fbfbfb;
}

#contents h3 img {
    float: left;
    display: block;
    margin-right: 7px;
}

/** Track page ****************************************************************/

.toolbar {
    margin: 10px 0 0;
    line-height: 2em;
}

.toolbar img {
    margin: 0 5px 0 20px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.toolbar span {
    white-space: nowrap;
}

.cats a, .toolbar a {
    padding: 2px 0;
    margin: 0 5px;
}

.cats img {
    vertical-align: middle;
}

.notes, .news {
    line-height: 1.7em;
    font-size: 0.9em;
}

.notes {
    /*margin: 25px 5px;
    padding: 0 15px;
    border-left: 1px solid #406;*/
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 15px 20px;
}
.track .notes {
    margin: 15px 20px 0;
}

a.danger {
    color: #A00;
    margin: 20px 0;
}

.empty {
    margin: 20px;
    text-align: center;
    color: #444;
}

.comment {
    margin: 10px;
    padding: 15px 20px;
    border-radius: 3px;
    border: solid #eee;
    border-width: 0px 0 1px 1px;
    line-height: 1.6em;
    font-size: 0.9em;
}
.postcomment {
    text-align: center;
}
.postcomment h3 {
    margin: 15px;
}

.comment .by {
    margin-top: 8px;
    font-size: 0.9em;
    color: #000;
}

.tracklist .by {
    font-size: 0.8em;
    color: #000;
}

.track .art {
    display: block;
    max-width: 80%;
    max-height: 480px;
    margin: 25px auto;
    padding: 5px;
    border: 1px solid #ddd;
}

.cats form {
    display: inline;
    margin: 0;
}
.cats input {
    margin: 0 5px;
    padding: 0;
    width: auto;
}

/** User page *****************************************************************/

.user {
    margin: 20px 0;
}

.user .email {
    margin: 2px 20px 20px;
}
.user .email img {
    vertical-align: middle;
    padding-bottom: 3px;
    margin-right: 4px;
}

.user .notes {
    margin: 0 0 15px;
}

.user .more {
    margin: inherit 20px;
}

/** FAQ page ******************************************************************/

.faq div {
    margin: 30px 10px 35px;
}

.faq div:last-child {
    margin-bottom: 0;
}

/** News page *****************************************************************/

.news {
    margin: 20px 10px 25px;
}

.oldnews {
    margin-top: 40px;
}

a.more {
    display: inline-block;
    margin: 0 20px;
}
a.more:before {
    content: "» ";
}

/** Contests ******************************************************************/

.contest {
    margin-top: 15px;
}

.contest button {
    background: none;
    border: none;
    padding: 0;
}
.contest button img {
    vertical-align: middle;
    margin-bottom: 7px;
}

/** Lists *********************************************************************/

li {
    margin: 0;
    list-style: square;
    padding: 8px 0;
    color: #406;
}
ul {
    margin: 10px 20px;
    padding: 0 20px;
}

#contents .tracklist .hidden, .tracklist .hidden * {
    color: #777;
}
.tracklist .hidden:after {
    content: "(hidden)";
    font-size: 0.6em;
    margin-left: 5px;
}

/** Credits page **************************************************************/

.credits li {
    color: #000;
}

/** Forms *********************************************************************/

form {
    margin: 20px;
}
form input, textarea, select, .qq-upload-button {
    border: 1px solid #555;
    border-radius: 2px;
    /*box-shadow: 0 0 1px #888;*/
    padding: 5px;
    margin: 2px;
}
form input, select {
    vertical-align: middle;
    width: 250px;
    height: 2em;
}
form input[type="file"] {
    border: none;
}
form input[type="submit"], .qq-upload-button {
    width: auto;
    background-color: #F8F8FF;
    padding: 3px 7px;
}
form input[type="submit"]:hover, .qq-upload-button-hover {
    background-color: #F6F3FF;
}
select {
    background-color: #FFF;
    width: auto;
}
textarea {
    width: 400px;
    height: 200px;
}
#embedcode {
    height: 100px;
    margin: 10px 20px;
}

.edit .column {
    padding: 0 2%;
    float: left;
}
.edit textarea {
    width: 350px;
    height: 300px;
}
.edit form {
    margin-top: 10px;
    margin-bottom: 25px;
}

form.publish {
    font-weight: bold;
    color: #548;
    text-align: center;
}

form.publish input {
    color: #FFF;
    background: #307;
    border: none;
}
form.publish input:hover {
    background-color: #509;
}

.search form {
    display: inline;
    margin: 0;
}
.search {
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    margin: 35px 0 5px;
}

/** Follow / Favorite / Delete buttons ****************************************/

.follow, .unfollow, .favorite, .unfavorite {
    float: right;
    display: block;
    margin-top: 7px;
    padding: 7px 9px 7px 33px;
    border-radius: 2px;
}

.follow:hover, .unfollow:hover, .favorite:hover, .unfavorite:hover, .delete:hover {
    text-decoration: none;
}

.follow { background: url("/static/follow.png") no-repeat 7px center #57f; } 
.favorite { background: url("/static/fav.png") no-repeat 7px center #57f; }
.follow:hover, .favorite:hover { background-color: #59f; } 
.unfollow { background: url("/static/unfollow.png") no-repeat 12px center #e8e8e8; }
.unfavorite { background: url("/static/unfav.png") no-repeat 9px center #e8e8e8; }
.unfollow:hover, .unfavorite:hover { background-color: #f0f0f0; } 

.follow, .follow:hover, .favorite, .favorite:hover { color: white; }
.unfollow, .unfollow:hover, .unfavorite, .unfavorite:hover { color: #408; }

.delete {
    float: right;
    margin-right: 20px;
    background: url("/static/delete.png") no-repeat 7px center;
    padding-left: 37px;
    color: #b00;
    border-radius: 2px;
    padding: 7px 9px 7px 33px;
    clear: both;
}
.delete:hover {
    background-color: #d00;
    color: #fff;
}

/** Track grid ****************************************************************/

.leftcol, .rightcol {
    width: 48%;
}
.leftcol {
    float: left;
    clear: both;
}
.rightcol {
    float: right;
}

/** Messages ******************************************************************/

.message, .error {
    margin: 15px;
    font-weight: bold;
}
.error {
    color: #800;
}

/** Blurb *********************************************************************/

.newsticker {
    margin: 8px 0;
    padding: 10px;
    padding-left: 12px;
    background: #fbffff;
    box-shadow: 0 0 1px #8aa;
}

.newsticker img {
    display: block;
    float: left;
    margin: 1px 8px 0 0;
}

.blurb li {
    color: #000;
    margin-left: 25px;
}

/** File uploader *************************************************************/

.qq-uploader {
    position: relative;
    width: 90%;
    margin: 20px;
}

.qq-upload-button {
    display:block;
    width: 150px; 
    padding: 5px;
    text-align:center;
}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; /*background: url("loading.gif");*/ width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

a.qq-upload-file, a.qq-upload-file:hover {
    text-decoration: none;
    color: #000;
}
.qq-upload-success a.qq-upload-file {
    color: #408;
    text-decoration: none;
}
.qq-upload-success a.qq-upload-file:hover {
    color: #80C;
    text-decoration: underline;
}
