html, body {
    background: #438;
}

#header h1 a {
    background-image: url("logo.png");
}

#footer {
    background: none;
}

#header, #header a, #footer, #footer a {
    color: white;
    text-shadow: none;
}

#navbar a:hover, #footer a:hover {
    color: white;
    text-decoration: underline;
}


#contents {
    background-color: #fdfdfd;
}

.dim {
    opacity: 0.7;
}

.spinner {
    display: inline-block;
    box-sizing: border-box;
    width: .8em;
    height: .8em;
    border: .1em solid transparent;
    border-left-color: #438;
    border-right-color: #438;
    border-radius: 100%;
    animation: spinner 1s ease-out infinite;
}

@keyframes spinner {
    to { transform: rotate(1080deg); }
}
